table,
th,
td {
  border-collapse: collapse;
  padding: 10px;
}

th,
td {
  word-wrap: normal;
  border: 1px solid black;
  height: 30px;
}

table {
  caption-side: top;
  border: 2px solid black;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  vertical-align: middle;
  border-collapse: collapse;
}

div {
  padding-top: 30px;
}

p {
  margin-left: 5vw;
  margin-right: 5vw;
}
